<marquee direction="scroll">
    <img src="https://media1.tenor.com/images/abb9bb0bb79865bfc4ac963d4c30eb7a/tenor.gif?itemid=11191352" height="75" width="75">
</marquee>

<body>
    
        <partial name="_Registration" />
        <partial name="_Login" />

</body>
</html>